body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("<%=request.getContextPath()%>img/fitness-website-templates.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ldc-box {
	min-width: 10em;
}


/* Header */

div.title {
	float: left;
    margin-right: 4em;
}

/* Form */

fieldset {
	background: #fff;
}

.form-row {
	width: min-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;	
}

.form-container.btn {
	height: 50px;
	
	/*margin-left: 8.5%;*/
	width: 46%;
	border-radius: 3px;
	background-color: #000;
	border: none;
	color: white;
	padding: 5px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.form-container.btn.left {
	float: left;
}

.form-container.btn:hover {
	background: #00A4F6;
}


/* input fields */
#reg-input, #password, #confirm_password  {
  min-width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-bottom: 1px solid black;
  background: #fafafa;
}


@Media (max-width: 780px){
		
	.disclaimer-text {
		width: 100%;
		margin-bottom: 20px;
	}
	
	.form-popup {
		width: 100%;
		margin-left: 0;
	}
	
	.form-container {
		max-width: 100%;
	}
	
}